<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d76f91">  <td>20/12/22 15:07:23</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;DateAndTime_Guru99.afterTest()[pri:0, instance:Testngpckg.DateAndTime_Guru99@6c779568]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1309238149</td>   <td></td> </tr>
<tr bgcolor="d76f91">  <td>20/12/22 15:06:52</td>   <td>-30763</td> <td>&nbsp;</td><td title="&gt;&gt;DateAndTime_Guru99.beforeTest()[pri:0, instance:Testngpckg.DateAndTime_Guru99@6c779568]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1309238149</td>   <td></td> </tr>
<tr bgcolor="d76f91">  <td>20/12/22 15:07:13</td>   <td>-9637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DateAndTime_Guru99.datetime_picker()[pri:0, instance:Testngpckg.DateAndTime_Guru99@6c779568]">datetime_picker</td> 
  <td>main@1309238149</td>   <td></td> </tr>
</table>
