<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fea1ea">  <td>21/01/06 15:58:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ShopClues_Add_Item.Scrolling_Page()[pri:0, instance:Testngpckg.ShopClues_Add_Item@4e268090]">Scrolling_Page</td> 
  <td>main@1787079037</td>   <td></td> </tr>
<tr bgcolor="fea1ea">  <td>21/01/06 15:59:46</td>   <td>73398</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ShopClues_Add_Item.Scrolling_Page()[pri:0, instance:Testngpckg.ShopClues_Add_Item@3e6ef8ad]">Scrolling_Page</td> 
  <td>main@1787079037</td>   <td></td> </tr>
<tr bgcolor="fea1ea">  <td>21/01/06 15:59:36</td>   <td>63126</td> <td>&nbsp;</td><td title="&lt;&lt;ShopClues_Add_Item.afterTest()[pri:0, instance:Testngpckg.ShopClues_Add_Item@4e268090]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1787079037</td>   <td></td> </tr>
<tr bgcolor="fea1ea">  <td>21/01/06 16:01:06</td>   <td>153078</td> <td>&nbsp;</td><td title="&lt;&lt;ShopClues_Add_Item.afterTest()[pri:0, instance:Testngpckg.ShopClues_Add_Item@3e6ef8ad]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1787079037</td>   <td></td> </tr>
<tr bgcolor="fea1ea">  <td>21/01/06 15:58:25</td>   <td>-7623</td> <td>&nbsp;</td><td title="&gt;&gt;ShopClues_Add_Item.beforeTest(java.lang.String)[pri:0, instance:Testngpckg.ShopClues_Add_Item@4e268090]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1787079037</td>   <td></td> </tr>
<tr bgcolor="fea1ea">  <td>21/01/06 15:59:36</td>   <td>63433</td> <td>&nbsp;</td><td title="&gt;&gt;ShopClues_Add_Item.beforeTest(java.lang.String)[pri:0, instance:Testngpckg.ShopClues_Add_Item@3e6ef8ad]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1787079037</td>   <td></td> </tr>
</table>
